* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F6EE;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-3 {
    width: calc(25% - 20px);
}

#home {
    display: flex;
    align-items: center;
}

.item__image {
    width: 100%;
    height: 200px;
}

.addToCart {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
}

.addToCart button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.select {
    margin: 20px 10px;
}

.inputSearch {
    font-size: 20px;
}

.basket {
    width: 20px;
    height: 20px;
}

.parrentButonsAddCart {
    display: flex;
    justify-content: space-between;
}

.addToCart {
    cursor: pointer;
}