.cart__box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
}   

.cart__col:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.cart__col:nth-child(1) img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.cart__col:nth-child(2) {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    font-size: 14px;
}

.cart__col:nth-child(2) p {
    margin: 0;
    color: #6f4e37;
}

.cart__count {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: #333;
}

.cart__count button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.cart__count button:hover {
    background-color: #6f4e37;
    border-color: #6f4e37;
    color: #fff;
}

.cart__delete {
    cursor: pointer;
    font-size: 20px;
    color: #6f4e37;
    transition: color 0.3s ease-in-out;
}

.cart__delete:hover {
    color: #333;
}

.cart__quantity {
    color: #6f4e37;
}